<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adobereader" />
  <package id="android-sdk" />
  <package id="anydesk" />
  <package id="anydesk.portable" />
  <package id="aqt" />
  <package id="ausweisapp2" />
  <package id="bitwarden" />
  <package id="bitwarden-cli" />
  <package id="blender" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cmake" />
  <package id="cmake.install" />
  <package id="ddev" />
  <package id="docker-desktop" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6.1" />
  <package id="dotnet4.7.2" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-9.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dotnetfx" />
  <package id="element-desktop" />
  <package id="elgato-camerahub" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="flutter" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="gsudo" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="heidisql" />
  <package id="InkScape" />
  <package id="irfanview" />
  <package id="jdk8" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="krita" />
  <package id="lazygit" />
  <package id="libreoffice" />
  <package id="libreoffice-fresh" />
  <package id="logseq" />
  <package id="make" />
  <package id="mingw" />
  <package id="miniconda" />
  <package id="mkcert" />
  <package id="neovide" />
  <package id="neovide.install" />
  <package id="neovim" />
  <package id="netfx-4.7.2" />
  <package id="nextcloud-client" />
  <package id="ngrok" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="numpy" />
  <package id="nvm" />
  <package id="nvm.install" />
  <package id="obsidian" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="openvpn" />
  <package id="orangec" />
  <package id="powertoys" />
  <package id="prusaslicer" />
  <package id="python" />
  <package id="python3" />
  <package id="python311" />
  <package id="python312" />
  <package id="python313" />
  <package id="qownnotes" />
  <package id="ripgrep" />
  <package id="rsync" />
  <package id="rust" />
  <package id="smplayer" />
  <package id="telegram" />
  <package id="telegram.install" />
  <package id="ultravnc" />
  <package id="vcredist140" />
  <package id="vcredist2008" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="veeam-agent" />
  <package id="visualcpp-build-tools" />
  <package id="visualstudio2022community" />
  <package id="visualstudio2022-workload-nativedesktop" />
  <package id="visualstudio-installer" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="wezterm" />
  <package id="wezterm.install" />
  <package id="yubico-authenticator" />
  <package id="zeal" />
  <package id="zeal.install" />
  <package id="zig" />
</packages>